ProjectName: xannounce project

SourceDir:       /home/trevor/Programming/Projects/xannounce/doc/
HTMLtargetDir:   /home/trevor/Documentation/HTMLpublic/projects/xannounce/
TEXTtargetDir:   /home/trevor/Programming/Projects/xannounce/
HTMLtemplateDir: /home/trevor/Documentation/HTMLpublic/templates/

Source: readme.sgml,readme file,readme.html,README
Source: download.sgml,download,download.html,
Source: compile.sgml,compile,compile.html,INSTALL
Source: screenshot.sgml,screen shot,screen.html,
Source: authors.sgml,authors,authors.html,AUTHORS
Source: news.sgml,news,news.html,NEWS
Source: changelog.sgml,change log, changelog.html,ChangeLog
TOCentry: copyright,../copyright.html
